<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark light-blue darken-4">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="">
      <picture>
        <source class="brandimg" srcset="../../../assets/Matse_IHF_White_Small.webp">
        <source class="brandimg" srcset="../../../assets/Matse_IHF_White_Small.png">
        <img class="brandimg" src="../../../assets/Matse_IHF_White_Small.png">
      </picture>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="computer">Computer</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="hardware">Hardware</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="software">Software</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="raeume">Räume</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="benutzer">Benutzer</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="ips">Freie IPs</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
