<h1 mat-dialog-title>Bearbeite Raum: {{data.selectedRoom.name}}</h1>
<div mat-dialog-content>
  <form #roomForm>
    <table>
      <tbody>
      <td>
        <mat-form-field>
          <mat-label for="name">Name</mat-label>
          <input matInput id="name" [(ngModel)]="name" name="name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field >
          <mat-label>Etage</mat-label>
          <mat-select required id="etage" [(ngModel)]="etage" name="etage">
            <mat-option *ngFor="let eta of etageArray" [value]="eta">{{eta}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label for="description">Beschreibung</mat-label>
          <textarea matInput id="description" [(ngModel)]="description" name="description"></textarea>
        </mat-form-field>
      </td>
      </tbody>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button  (click)="editRoom()">Bearbeiten</button>
  <div style="width: 5px; height: auto; display: inline-block"></div>
  <button mat-raised-button (click)="closeEditRoom()">Abbrechen</button>
</div>
