<div class="container">
  <div class="row">
    <div class="col">
  </div>
  </div>
  <div class="row">
    <div class="col-7">
      <h2>Aktionen</h2>
      <div class="list-group">
        <a class="list-group-item list-group-item-action" routerLink="../rechnereintragen">Computer hinzufügen</a>
        <a class="list-group-item list-group-item-action" routerLink="../benutzerhinzufuegen">Benutzer hinzufügen</a>
        <a class="list-group-item list-group-item-action" routerLink="../raumhinzufuegen">Raum hinzufügen</a>
        <a class="list-group-item list-group-item-action" routerLink="../hardwarehinzufuegen">Hardware hinzufügen</a>
        <a class="list-group-item list-group-item-action" routerLink="../softwarehinzufuegen">Sofware hinzufügen</a>
      </div>
    </div>
</div>
  </div>

