<h1 mat-dialog-title>Bearbeite RAM</h1>
<div mat-dialog-content>
  <form #ramForm="ngForm">
    <table style="width: auto; align-content: center">
      <tbody>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Hersteller</mat-label>
            <mat-select id="ramproducer" required [(ngModel)]="_ram.producer" name="ramproducer">
              <mat-option *ngFor="let prod of _ramproducers" [value]="prod">{{prod}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput id="ramname" required [(ngModel)]="_ram.name" name="ramname">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Standard</mat-label>
            <mat-select id="ramstandard" required [(ngModel)]="_ram.standard"  name="ramstandard"  (ngModelChange)="onSelect()">
              <mat-option *ngFor="let stan of _ramstandards" [value]="stan">{{stan}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Frequenz</mat-label>
            <mat-select id="ramfrequency" required [(ngModel)]="_ram.frequency" name="ramfrequency">
              <mat-option *ngFor="let freq of _ramfrequencies" [value]="freq">{{freq}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field>
            <mat-label>Kapazität in GB</mat-label>
            <input matInput id="ramcapacity" required [(ngModel)]="_ram.capacity" name="ramcapacity">
          </mat-form-field>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="editRam()">Speichern</button>
  <div style="width: 5px; height: auto; display: inline-block"></div>
  <button mat-raised-button (click)="closeEditRam()">Abbrechen</button>
</div>

